.marco {
  font-family: "Amatic SC", cursive;
  text-align: center;
  background: linear-gradient(
    232deg,
    rgba(234, 169, 188, 0.503) 0%,
    rgba(238, 85, 126, 0.15) 14%,
    rgb(138, 208, 195) 74%
  );
  max-width: 600px;
  margin: 30px auto;
  border-radius: 40px;
  font-size: larger;
}

h1 {
  color: rgb(255, 0, 89);
  font-weight: bold;
}

.paola {
  color: rgb(5, 98, 90);
}

.lyrics {
  font-size: medium;
  color: rgb(5, 98, 90);
  font-weight: bold;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
